body{
    background-color: lightblue;
}
li{
    width:200px;
    list-style: none;
    text-align: center;
    font-family: "Arial";
    color: white;
    font-weight: bold;
    background-color: rgb(139, 139, 255);
    padding:25px;
    margin:3px;
}
li:hover{
    margin-left:50px;
}
li:active{
    background-color: rgb(139, 139, 0);
}
h1{
    color: rgb(139, 139, 255);
    text-shadow: 5px 5px rgb(139, 139, 0);
}