#borde1{
    width:20%;
    font-size:40px;
    border: 2px solid yellow;
    border-radius: 30%;
}
#borde2{
    width:20%;
    font-size:40px;
    border: 2px solid yellow;
    border-radius: 15px 30px 50px 15px;
}
#borde3{
    width:20%;
    font-size:40px;
    border: 10px double yellow;
    border-radius: 15px 30px 50px 15px;
}
#borde4{
    width:20%;
    font-size:40px;
    border: 10px groove yellow;
    border-radius: 15px 30px 50px 15px;
}
